.footer-title
{
    font-size: 18px;
}

.footer-content
{
    font-size: 14px;
}

.footer-icons
{
    font-size: 16px;
}

.footer-img
{
    width: 80px;
    height: 80px;
}

/*Clases para el navbar*/
.navbar-img
{
    width: 60px;
    height: 60px;
}